body{
    direction: rtl;
}
nav ul ul {
	display: none;
}
 
nav ul li:hover > ul {
	display: block;
}

nav ul {
	background: #e2afcf;
    width: 100%;
	box-shadow: 0px 0px 9px rgba(184, 136, 181, 0.4);
	padding: 0 20px;
	border-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table;
}
nav ul:after {
	content: "";
	clear: both;
	display: block;
}


nav ul li {
	float: right;
	position: relative;
	font-weight: bold;
}
 
nav ul li:hover {
	background: #d8bdbd;
}
 
nav ul li:hover a {
	color: #fff;
}
 
nav ul li a {
	display: block;
	padding: 15px 32px;
	color: #4e4e4e;
	text-decoration: none;
}

nav ul ul {
	background: #c5aeae;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	right: 0;
	width: 200px;
}
nav ul ul li {
	float: none;
	border-top: 1px solid #c5a8a8;
	border-bottom: 1px solid #c5a8a8;
	position: relative;
}
nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}	
nav ul ul li a:hover {
	background: #d16fac;
}

nav ul ul ul {
	position: absolute;
	right: 100%;
	top:0;
}

